<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Sports Scraper</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
     <li><a href="/">Search</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </div>
</nav>


<div class="container" align="center">
  <h1>Sports Scraper!</h1>
   <div class="divider"></div>
  <p>Hit the scrape button to checkout some recently published articles on Bleacher Report!</p>
  <br>
  <p>Hit the Star button to save your favorites, and head on over to the favorites page!</p>



  <button class="btn waves-effect waves-light" type="submit" name="action" id="scraper">Scrape
  </button>
  <button class="btn waves-effect waves-light" type="submit" name="action" id="reset">Reset!
  </button>
</div>

<div class="container" id="displayArticles">



</div>