<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Sports Scraper</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Search</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </div>
</nav>


<div class="container" align="center">
  <h1>Saved</h1>



</div>